<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QueryVid | Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>

    <!-- Navbar -->
    <header class="bg-gradient-to-r from-purple-700 via-pink-600 to-red-500 text-white shadow-2xl">
        <div class="container mx-auto flex justify-between items-center py-6 px-8">
            <h1 class="text-5xl font-extrabold tracking-wide"><a href="">QueryVid</a></h1>
            <nav class="flex space-x-12 ml-8">
                <a href="signup"
                    class="text-base font-semibold hover:text-yellow-300 transition duration-300 transform hover:scale-110">Sign
                    Up</a>
            </nav>
        </div>
        <div class="border-t-4 border-yellow-400 mt-2"></div>
    </header>

    <!-- Login Form -->
    <div class="flex items-center justify-center min-h-screen bg-gray-50">
        <div
            class="bg-white p-8 rounded-lg shadow-lg hover:shadow-2xl transition duration-300 transform hover:-translate-y-1 max-w-lg w-full">
            <h2 class="text-center text-3xl font-bold text-gray-800 mb-10">Login</h2>

            <!-- Login Form -->
            <form action="" method="POST">
                {% csrf_token %}

                <!-- Error Messages -->
                {% if error %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4">
                    <strong class="font-bold">Error!</strong>
                    <span class="block sm:inline">{{ error }}</span>
                </div>
                {% endif %}
                
                <!-- Input Fields -->

                <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500 mb-4">

                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500 mb-6">

                <!-- Login Form Button -->
                <div class="flex justify-center mt-6">
                    <button type="submit"
                        class="px-6 py-3 bg-gradient-to-r from-purple-600 to-pink-500 text-white font-bold rounded-lg shadow-lg transition-transform duration-300 transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-purple-500">
                        Login
                    </button>
                </div>
            </form>

            <!-- Signup Link -->
            <div class="text-center mt-3">
                <p class="text-gray-600 text-sm">Don't have an account? <a href="signup"
                        class="text-purple-500 hover:text-purple-800 font-bold">Sign Up</a></p>
            </div>

        </div>
    </div>

    <footer class="text-center p-4 text-gray-700 text-sm">
        Created by <b>Anish</b>.
        Connect with me on <a href="https://www.linkedin.com/in/anish-k36/"
            class="text-purple-500 hover:text-purple-800 font-bold hover:underline">LinkedIn</a> and <a href="https://github.com/aniiishhh"
            class="text-purple-500 hover:text-purple-800 font-bold hover:underline">GitHub</a>.
    </footer>

</body>

</html>